In [17]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
from pathlib import Path
import pingouin as pg
from lets_plot import *

LetsPlot.setup_html(no_js=True)

In [24]:


read_file = pd.read_excel ("/Users/apple/Documents/GitHub/YunlongWei_Homework/Lab2_dataset/Public-goods-experimental-data.xlsx") 

read_file.to_csv ("Public-goods-experimental-data.csv", 
				index = None, 
				header=True) 
	

df = pd.DataFrame(pd.read_csv("Public-goods-experimental-data.csv"))

/Users/apple/Documents/GitHub/YunlongWei_Homework/.venv/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [19]:
df.head()

,"Contributions without punishment (Figure 3 in Herrmann, Thoni, and Gachter (2008))",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Period,Copenhagen,Dnipropetrovs’k,Minsk,St. Gallen,Muscat,Samara,Zurich,Boston,Bonn,Chengdu,Seoul,Riyadh,Nottingham,Athens,Istanbul,Melbourne
1,1,14.102941176470589,10.954545272727273,12.7941,13.6875,9.53846,10.8421,11.0833,12.9643,10.85,10,8.249999904761905,7.958333416666666,10.928571428571429,8.136363818181819,8.9375,8.225
2,2,14.132352941176471,12.636363454545455,12.3382,12.80206675,10.9808,11.5,12.1667,12.7143,10.8,9.9625,9.142857142857142,7.729166916666666,10.535714285714286,6.2727272727272725,9.015625,7.325
3,3,13.720588235294118,12.068181636363636,12.5882,12.354183500000001,11.5192,11.7237,10.7813,12.7143,11.516666666666666,10.225,9.892857238095237,7.1875,9.125000142857143,6.409090636363637,8.4375,6.25
4,4,12.897058823529411,11.181818,12.2647,10.60418325,10.3077,11.3092,10.6354,11.3571,10.7,10.0125,9.666666666666666,7.875000166666666,8.982142857142858,6.3181815454545465,6.921875125,5.975