# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet. Special
thanks to: https://github.com/justmarkham for sharing the dataset and
materials.

### Step 1. Import the necessary libraries

In [4]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [5]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep= '\t')

### Step 3. Assign it to a variable called chipo.

In [6]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep= '\t')

### Step 4. See the first 10 entries

In [7]:
chipo.head(10)

### Step 5. What is the number of observations in the dataset?

In [8]:
# Solution 1

chipo.shape

(4622, 5)

In [9]:
# Solution 2

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [10]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [11]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [12]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [13]:
chipo.groupby(by="item_name").sum().sort_values('quantity',ascending=False).head(1)

### Step 10. For the most-ordered item, how many items were ordered?

In [10]:
chipo.groupby(by="item_name").sum().sort_values('quantity',ascending=False).head(1)

### Step 11. What was the most ordered item in the choice_description column?

In [11]:
chipo.groupby(by="choice_description").sum().sort_values('quantity',ascending=False).head(1)

### Step 12. How many items were orderd in total?

In [12]:
chipo.item_name.count()

4622

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [13]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [14]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

#### Step 13.c. Check the item price type

In [15]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [16]:
revenue =  (chipo.item_price * chipo.quantity).sum()
print('Revenue is : $ '+ str(revenue))

Revenue is : $ 39237.02

### Step 15. How many orders were made in the period?

In [7]:
chipo.order_id.value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [8]:
# Solution 1
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped['revenue'].mean()

In [9]:
# Solution 2

chipo.groupby(by=['order_id']).sum()['revenue'].mean()

### Step 17. How many different items are sold?

In [34]:
chipo.item_name.value_counts().count()

50