In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('/Users/apple/Desktop/archive/seattle_pet_licenses.csv')

In [4]:
print(df)

      animal_s_name       license_issue_date  license_number  \
0              Ozzy  2005-03-29T00:00:00.000        130651.0
1              Jack  2009-12-23T00:00:00.000        898148.0
2            Ginger  2006-01-20T00:00:00.000         29654.0
3            Pepper  2006-02-07T00:00:00.000         75432.0
4              Addy  2006-08-04T00:00:00.000        729899.0
...             ...                      ...             ...
66037          Lily  2016-12-27T00:00:00.000             NaN
66038         Ellie  2016-11-29T00:00:00.000             NaN
66039         Sammy  2016-12-05T00:00:00.000             NaN
66040         Buddy  2016-12-06T00:00:00.000             NaN
66041           Aku  2016-12-07T00:00:00.000             NaN

                           primary_breed      secondary_breed species zip_code
0      Dachshund, Standard Smooth Haired                  NaN     Dog    98104
1                   Schnauzer, Miniature         Terrier, Rat     Dog    98107
2                      Retriever, Golden  Retriever, Labrador     Dog    98117
3                                   Manx                  Mix     Cat    98103
4                      Retriever, Golden                  NaN     Dog    98105
...                                  ...                  ...     ...      ...
66037                 Domestic Shorthair                  Mix     Cat    98117
66038                    German Shepherd                  Mix     Dog    98105
66039                            Terrier              Maltese     Dog    98105
66040                        Bullmastiff                  Mix     Dog    98105
66041              Chihuahua, Short Coat              Terrier     Dog    98106

[66042 rows x 7 columns]

In [6]:
infor_df = df.info()

print(infor_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66042 entries, 0 to 66041
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   animal_s_name       64685 non-null  object
 1   license_issue_date  66042 non-null  object
 2   license_number      43885 non-null  float64
 3   primary_breed       66042 non-null  object
 4   secondary_breed     22538 non-null  object
 5   species             66042 non-null  object
 6   zip_code            65884 non-null  object
dtypes: float64(1), object(6)
memory usage: 3.5+ MB
None

In [5]:
top_three_ani = df['animal_s_name'].value_counts()

print(top_three_ani)

animal_s_name
Lucy       566
Bella      451
Charlie    447
Max        374
Luna       361
          ...
Finigan      1
Liame        1
Hitler       1
Rustie       1
Chino        1
Name: count, Length: 15795, dtype: int64