In [1]:
import pandas as pd 

read_file = pd.read_excel ("/Users/apple/Documents/GitHub/YunlongWei_Homework/Lecture_3_nobel_laureates/nobel.xlsx") 

read_file.to_csv ("nobel.csv", 
				index = None, 
				header=True) 
	
#read nobel.csv
df = pd.DataFrame(pd.read_csv("nobel.csv")) 
print(df)

      id       firstname    surname  year   category  \
0      1  Wilhelm Conrad    Röntgen  1901    Physics
1      2      Hendrik A.    Lorentz  1902    Physics
2      3          Pieter     Zeeman  1902    Physics
3      4           Henri  Becquerel  1903    Physics
4      5          Pierre      Curie  1903    Physics
..   ...             ...        ...   ...        ...
930  965  Sir Gregory P.     Winter  2018  Chemistry
931  966           Denis    Mukwege  2018      Peace
932  967           Nadia      Murad  2018      Peace
933  968      William D.   Nordhaus  2018  Economics
934  969         Paul M.      Romer  2018  Economics

                                           affiliation          city  \
0                                    Munich University        Munich
1                                    Leiden University        Leiden
2                                 Amsterdam University     Amsterdam
3                                  École Polytechnique         Paris
4    École municipale de physique et de chimie indu...         Paris
..                                                 ...           ...
930                MRC Laboratory of Molecular Biology     Cambridge
931                                                NaN           NaN
932                                                NaN           NaN
933                                    Yale University  New Haven CT
934                       NYU Stern School of Business   New York NY

            country            born_date   died_date  ... died_country_code  \
0           Germany           1845-03-27  1923-02-10  ...                DE
1       Netherlands           1853-07-18  1928-02-04  ...                NL
2       Netherlands           1865-05-25  1943-10-09  ...                NL
3            France           1852-12-15  1908-08-25  ...                FR
4            France           1859-05-15  1906-04-19  ...                FR
..              ...                  ...         ...  ...               ...
930  United Kingdom  1951-04-14 00:00:00         NaN  ...               NaN
931             NaN  1955-03-01 00:00:00         NaN  ...               NaN
932             NaN                  NaN         NaN  ...               NaN
933             USA  1941-05-31 00:00:00         NaN  ...               NaN
934             USA                  NaN         NaN  ...               NaN

    overall_motivation share  \
0                  NaN     1
1                  NaN     2
2                  NaN     2
3                  NaN     2
4                  NaN     4
..                 ...   ...
930                NaN     4
931                NaN     2
932                NaN     2
933                NaN     2
934                NaN     2

                                            motivation  \
0    "in recognition of the extraordinary services ...
1    "in recognition of the extraordinary service t...
2    "in recognition of the extraordinary service t...
3    "in recognition of the extraordinary services ...
4    "in recognition of the extraordinary services ...
..                                                 ...
930  "for the phage display of peptides and antibod...
931  "for their efforts to end the use of sexual vi...
932  "for their efforts to end the use of sexual vi...
933  "for integrating climate change into long-run ...
934  "for integrating technological innovations int...

                                 born_country_original  \
0                                Prussia (now Germany)
1                                      the Netherlands
2                                      the Netherlands
3                                               France
4                                               France
..                                                 ...
930                                     United Kingdom
931  Belgian Congo (now Democratic Republic of the ...
932                                               Iraq
933                                                USA
934                                                USA

         born_city_original died_country_original died_city_original  \
0    Lennep (now Remscheid)               Germany             Munich
1                    Arnhem       the Netherlands                NaN
2                Zonnemaire       the Netherlands          Amsterdam
3                     Paris                France                NaN
4                     Paris                France              Paris
..                      ...                   ...                ...
930               Leicester                   NaN                NaN
931                  Bukavu                   NaN                NaN
932                    Kojo                   NaN                NaN
933          Albuquerque NM                   NaN                NaN
934               Denver CO                   NaN                NaN

     city_original country_original
0           Munich          Germany
1           Leiden  the Netherlands
2        Amsterdam  the Netherlands
3            Paris           France
4            Paris           France
..             ...              ...
930      Cambridge   United Kingdom
931            NaN              NaN
932            NaN              NaN
933   New Haven CT              USA
934    New York NY              USA

[935 rows x 26 columns]

In [2]:
infor = df.info()
print(infor)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     935 non-null    int64
 1   firstname              935 non-null    object
 2   surname                906 non-null    object
 3   year                   935 non-null    int64
 4   category               935 non-null    object
 5   affiliation            685 non-null    object
 6   city                   680 non-null    object
 7   country                681 non-null    object
 8   born_date              902 non-null    object
 9   died_date              627 non-null    object
 10  gender                 935 non-null    object
 11  born_city              907 non-null    object
 12  born_country           907 non-null    object
 13  born_country_code      907 non-null    object
 14  died_city              608 non-null    object
 15  died_country           614 non-null    object
 16  died_country_code      614 non-null    object
 17  overall_motivation     17 non-null     object
 18  share                  935 non-null    int64
 19  motivation             935 non-null    object
 20  born_country_original  907 non-null    object
 21  born_city_original     907 non-null    object
 22  died_country_original  614 non-null    object
 23  died_city_original     608 non-null    object
 24  city_original          680 non-null    object
 25  country_original       681 non-null    object
dtypes: int64(3), object(23)
memory usage: 190.1+ KB
None

In [3]:
nobel_living = df[
    df['country'].notna() &
    (df['gender'] != 'org') &
    df['died_date'].isna()        
]
print(nobel_living)

      id       firstname   surname  year   category  \
68    68       Chen Ning      Yang  1957    Physics
69    69       Tsung-Dao       Lee  1957    Physics
94    95         Leon N.    Cooper  1972    Physics
96    97             Leo     Esaki  1973    Physics
97    98            Ivar   Giaever  1973    Physics
..   ...             ...       ...   ...        ...
928  963      Frances H.    Arnold  2018  Chemistry
929  964       George P.     Smith  2018  Chemistry
930  965  Sir Gregory P.    Winter  2018  Chemistry
933  968      William D.  Nordhaus  2018  Economics
934  969         Paul M.     Romer  2018  Economics

                                      affiliation                 city  \
68                   Institute for Advanced Study         Princeton NJ
69                            Columbia University          New York NY
94                               Brown University        Providence RI
96           IBM Thomas J. Watson Research Center  Yorktown Heights NY
97                       General Electric Company       Schenectady NY
..                                            ...                  ...
928  California Institute of Technology (Caltech)          Pasadena CA
929                        University of Missouri             Columbia
930           MRC Laboratory of Molecular Biology            Cambridge
933                               Yale University         New Haven CT
934                  NYU Stern School of Business          New York NY

            country            born_date died_date  ... died_country_code  \
68              USA  1922-09-22 00:00:00       NaN  ...               NaN
69              USA  1926-11-24 00:00:00       NaN  ...               NaN
94              USA  1930-02-28 00:00:00       NaN  ...               NaN
96              USA  1925-03-12 00:00:00       NaN  ...               NaN
97              USA  1929-04-05 00:00:00       NaN  ...               NaN
..              ...                  ...       ...  ...               ...
928             USA  1956-07-25 00:00:00       NaN  ...               NaN
929             USA  1941-03-10 00:00:00       NaN  ...               NaN
930  United Kingdom  1951-04-14 00:00:00       NaN  ...               NaN
933             USA  1941-05-31 00:00:00       NaN  ...               NaN
934             USA                  NaN       NaN  ...               NaN

    overall_motivation share  \
68                 NaN     2
69                 NaN     2
94                 NaN     3
96                 NaN     4
97                 NaN     4
..                 ...   ...
928                NaN     2
929                NaN     4
930                NaN     4
933                NaN     2
934                NaN     2

                                            motivation born_country_original  \
68   "for their penetrating investigation of the so...                 China
69   "for their penetrating investigation of the so...                 China
94   "for their jointly developed theory of superco...                   USA
96   "for their experimental discoveries regarding ...                 Japan
97   "for their experimental discoveries regarding ...                Norway
..                                                 ...                   ...
928            "for the directed evolution of enzymes"                   USA
929  "for the phage display of peptides and antibod...                   USA
930  "for the phage display of peptides and antibod...        United Kingdom
933  "for integrating climate change into long-run ...                   USA
934  "for integrating technological innovations int...                   USA

    born_city_original died_country_original died_city_original  \
68        Hofei Anhwei                   NaN                NaN
69            Shanghai                   NaN                NaN
94         New York NY                   NaN                NaN
96               Osaka                   NaN                NaN
97              Bergen                   NaN                NaN
..                 ...                   ...                ...
928      Pittsburgh PA                   NaN                NaN
929         Norwalk CT                   NaN                NaN
930          Leicester                   NaN                NaN
933     Albuquerque NM                   NaN                NaN
934          Denver CO                   NaN                NaN

           city_original country_original
68          Princeton NJ              USA
69           New York NY              USA
94         Providence RI              USA
96   Yorktown Heights NY              USA
97        Schenectady NY              USA
..                   ...              ...
928          Pasadena CA              USA
929             Columbia              USA
930            Cambridge   United Kingdom
933         New Haven CT              USA
934          New York NY              USA

[228 rows x 26 columns]

In [4]:
print(nobel_living.shape[0])

228

In [5]:
x,y = df['country'].value_counts().idxmax(), df['country'].value_counts().max()
print(x,y)

USA 350