# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = '### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). '

In [3]:
# Define the URL of the dataset
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

# Load the dataset into a DataFrame and assign it to the variable 'chipo'
chipo = pd.read_csv(url, sep='\t')

# Display the first few rows of the dataset
print(chipo.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

In [4]:
df = pd.read_csv(url,sep='\t')

### Step 3. Assign it to a variable called chipo.

In [5]:
chipo = df

### Step 4. See the first 10 entries

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [7]:
chipo = df

### Step 5. What is the number of observations in the dataset?

In [8]:
# Solution 1

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [9]:
# Solution 2

chipo.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [10]:
chipo.shape

(4622, 5)

### Step 7. Print the name of all the columns.

In [11]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [12]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [13]:
item_quants = chipo.groupby(['item_name']).agg({'quantity':'sum'})
item_quants.sort_values('quantity', ascending=False)

                                       quantity
item_name
Chicken Bowl                                761
Chicken Burrito                             591
Chips and Guacamole                         506
Steak Burrito                               386
Canned Soft Drink                           351
Chips                                       230
Steak Bowl                                  221
Bottled Water                               211
Chips and Fresh Tomato Salsa                130
Canned Soda                                 126
Chicken Salad Bowl                          123
Chicken Soft Tacos                          120
Side of Chips                               110
Veggie Burrito                               97
Barbacoa Burrito                             91
Veggie Bowl                                  87
Carnitas Bowl                                71
Barbacoa Bowl                                66
Carnitas Burrito                             60
Steak Soft Tacos                             56
6 Pack Soft Drink                            55
Chips and Tomatillo Red Chili Salsa          50
Chicken Crispy Tacos                         50
Chips and Tomatillo Green Chili Salsa        45
Carnitas Soft Tacos                          40
Steak Crispy Tacos                           36
Chips and Tomatillo-Green Chili Salsa        33
Steak Salad Bowl                             31
Nantucket Nectar                             29
Chips and Tomatillo-Red Chili Salsa          25
Barbacoa Soft Tacos                          25
Chips and Roasted Chili Corn Salsa           23
Izze                                         20
Veggie Salad Bowl                            18
Chips and Roasted Chili-Corn Salsa           18
Barbacoa Crispy Tacos                        12
Barbacoa Salad Bowl                          10
Chicken Salad                                 9
Carnitas Crispy Tacos                         8
Veggie Soft Tacos                             8
Burrito                                       6
Veggie Salad                                  6
Carnitas Salad Bowl                           6
Bowl                                          4
Steak Salad                                   4
Salad                                         2
Crispy Tacos                                  2
Chips and Mild Fresh Tomato Salsa             1
Carnitas Salad                                1
Veggie Crispy Tacos                           1

### Step 10. For the most-ordered item, how many items were ordered?

In [14]:
import pandas as pd

# Define the URL of the dataset
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

# Load the dataset into a DataFrame and assign it to the variable 'chipo'
chipo = pd.read_csv(url, sep='\t')

# Group by 'item_name' and sum the 'quantity' for each item
item_order_counts = chipo.groupby('item_name')['quantity'].sum()

# Find the most-ordered item and its total quantity
most_ordered_item = item_order_counts.idxmax()
total_quantity = item_order_counts.max()

# Print the most-ordered item and the total number of items ordered
print(f"The most-ordered item is: {most_ordered_item}")
print(f"Total quantity ordered: {total_quantity}")

The most-ordered item is: Chicken Bowl
Total quantity ordered: 761

### Step 11. What was the most ordered item in the choice_description column?

In [15]:
item_quants = chipo.groupby(['choice_description']).agg({'quantity':'sum'})
item_quants.sort_values('quantity',ascending=False)[:5]

                                                    quantity
choice_description
[Diet Coke]                                              159
[Coke]                                                   143
[Sprite]                                                  89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        42

### Step 12. How many items were orderd in total?

In [16]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

In [17]:
import pandas as pd

# Define the URL of the dataset
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

# Load the dataset into a DataFrame and assign it to the variable 'chipo'
chipo = pd.read_csv(url, sep='\t')

# Remove the dollar sign and convert the 'item_price' column to float
chipo['item_price'] = chipo['item_price'].replace({'\$': ''}, regex=True).astype(float)

# Print the first few rows to verify the conversion
print(chipo.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description  item_price
0                                                NaN        2.39
1                                       [Clementine]        3.39
2                                            [Apple]        3.39
3                                                NaN        2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98

In [18]:
pd.to_numeric

<function pandas.core.tools.numeric.to_numeric(arg, errors: 'DateTimeErrorChoices' = 'raise', downcast: "Literal['integer', 'signed', 'unsigned', 'float'] | None" = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>)>

In [19]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

#### Step 13.a. Check the item price type

In [20]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

#### Step 13.b. Create a lambda function and change the type of item price

In [21]:
import pandas as pd

# Define the URL of the dataset
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

# Load the dataset into a DataFrame and assign it to the variable 'chipo'
chipo = pd.read_csv(url, sep='\t')

# Use a lambda function to remove the dollar sign and convert to float
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

# Check the data type of the 'item_price' column
print(f"The data type of 'item_price' is: {chipo['item_price'].dtype}")

The data type of 'item_price' is: float64

#### Step 13.c. Check the item price type

In [22]:
import pandas as pd

# Define the URL of the dataset
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

# Load the dataset into a DataFrame and assign it to the variable 'chipo'
chipo = pd.read_csv(url, sep='\t')

# Use a lambda function to remove the dollar sign and convert to float
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

# Check the data type of the 'item_price' column
print(f"The data type of 'item_price' is: {chipo['item_price'].dtype}")

The data type of 'item_price' is: float64

### Step 14. How much was the revenue for the period in the dataset?

In [23]:
chipo['item_price'].sum()

34500.16

In [24]:
import pandas as pd

# Define the URL of the dataset
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

# Load the dataset into a DataFrame and assign it to the variable 'chipo'
chipo = pd.read_csv(url, sep='\t')

# Use a lambda function to remove the dollar sign and convert 'item_price' to float
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

# Calculate the revenue for each row (item_price * quantity)
chipo['revenue'] = chipo['item_price'] * chipo['quantity']

# Calculate the total revenue by summing the 'revenue' column
total_revenue = chipo['revenue'].sum()

# Print the total revenue
print(f"Total revenue for the period: ${total_revenue:.2f}")

Total revenue for the period: $39237.02

### Step 15. How many orders were made in the period?

In [25]:
chipo.shape

(4622, 6)

### Step 16. What is the average revenue amount per order?

In [26]:
# Solution 1
chipo['item_price'].sum() / 4622.

7.464335785374297

In [27]:
# Solution 2
chipo['item_price'].mean()

7.464335785374297

### Step 17. How many different items are sold?

In [28]:
chipo.item_name.nunique()

50